@import '../variables';

blockquote,
.content blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0 !important;
    border-top: 0.125rem solid $cyan;
    border-radius: $radius;
    font-weight: 300;
    position: relative;
    @media screen and (min-width: $tablet) {
        margin-left: 3rem;
        margin-right: 1.5rem;
    }
    &:before {
        position: absolute;
        content: "";
        background-image: url(../../img/quotes.svg);
        width: 1.25rem;
        height: 1rem;
        top: 1.25rem;
        left: 0;
    }
}


blockquote.blockquote-v2,
.content blockquote.blockquote-v2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0 !important;
    border-top: 0.125rem solid $light-grayish-blue;
    border-radius: $radius;
    font-weight: 300;
    position: relative;
    font-size: .75rem;
    line-height: normal;
    font-style: italic;
    padding: .5rem 2rem;
    &:before,
    &:after {
        position: absolute;
        content: "";
        background-image: url(../../img/quotes.svg);
        width: 1.25rem;
        height: 1rem;
        top: 0.5rem;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
        transform: scale(-1, -1)
    }
}
