@import '../variables';


.section-title_category-service {
    justify-content: center;
    align-items: center;

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .75rem;
        position: relative;

        svg {
            max-width: 100%;
            max-height: 100%;
            // svg почему-то сваливается вниз, поэтому позиционирую через absolute
            position: absolute;
            top: 0;
            left: 0;
        }

        display: none;
        @media screen and (min-width: $tablet) {
            display: block;
        }
    }
}


.services-index {
    &__section-list-category {
        margin-top: -4rem;
    }

    .section-filter-services {
        background-image: url(../../img/services-bg-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
        justify-content: center;
        //height: 36.25rem;
        padding: 1.5rem 0 3.5rem 0;
        @media screen and (min-width: $tablet) {
            height: 29.25rem;
        }

        @media screen and (min-width: $desktop) {
            height: 36.25rem;
            padding: 0;
        }

        &__title {
            font-size: 1.5rem;
            @media screen and (min-width: $tablet) {
                font-size: 2rem;
            }

            @media screen and (min-width: $desktop) {
                font-size: 2.5rem;
            }
        }
    }

    .filter-services {
        margin: 1rem;
        padding: 1.5rem;
        border-radius: $radius;
        background-color: rgba($white, 0.15);

        @media screen and (min-width: $tablet) {
            //margin: 1rem;
        }

        @media screen and (min-width: $desktop) {
            margin: 1rem -1.5rem;
        }

        .label {
            color: $white;
        }

        .multiselect {
            &__tags {
                height: 3rem;
                white-space: nowrap;
                overflow: hidden;

                &:after {
                    position: absolute;
                    content: "";
                    right: 1px;
                    top: 1px;
                    width: 2.5rem;
                    height: calc(100% - 2px);
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, $white 40%);
                    border-top-right-radius: $radius;
                    border-bottom-right-radius: $radius;
                }
            }

            &__select {
                z-index: 2;
            }
        }
    }
}


.section-services-single-header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: flex-end;
    @media screen and (min-width: $tablet) {
        height: 39.375rem;
    }

    &__title {
        margin-bottom: 1.5rem;

        h1 {
            font-size: 1.5rem;
            line-height: normal;
            @media screen and (min-width: $tablet) {
                font-size: 2rem;
                line-height: initial;
            }
            @media screen and (min-width: $desktop) {
                font-size: 2.5rem;
                line-height: initial;
            }
        }

        figure {
            width: 4.75rem;
            height: 4.75rem;
            min-width: 4.75rem;
            min-height: 4.75rem;
            border-radius: 50%;
            background-color: $cyan;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1rem 0 0;

            img, svg {
                width: 2.375rem;
                height: 2.375rem;
                object-position: center;
                object-fit: contain;
            }
        }

        span {

        }
    }

    &__desc {
        background-color: rgba($white, .95);
        border-radius: $radius;
        color: $very-dark-blue-2;
        margin-bottom: 1.5rem;
    }

    &__nav {
        ul.buttons {
            justify-content: space-between;
            background-color: rgba($white, .95);
            border-radius: $radius;
            overflow: hidden;
            flex-wrap: wrap;

            li {
                flex: 1 1 auto;
                width: 100%;
                @media screen and (min-width: $tablet) {
                    width: auto;
                }

                a {
                    display: block;
                    text-align: center;
                    color: $very-dark-blue-2;
                    padding: .875rem 0;

                    &.is-active,
                    &:hover {
                        background-color: $cyan;
                        color: $white;
                        border-color: $cyan;
                    }
                }

                @media screen and (min-width: $tablet) {
                    &:not(:last-child) {
                        a {
                            border-right: 1px solid rgba($cyan, 0.3);
                        }
                    }
                }
            }
        }
    }

    &_price-info-wrap {
        background-color: rgba($white, .95);
        border-radius: $radius;
    }
}

a.services-single__case-card {
    transition: $transition;

    .content {
        font-size: 1.125rem;
        font-weight: 500;
        color: $very-dark-blue-2;
        line-height: 1.5rem;
    }

    &:hover {
        transform: translateY(-1rem);

        .content {
            color: $cyan;
        }
    }
}

.box {
    .tab.button {
        color: $very-dark-blue-2;
        border-color: transparent;
        &:hover,
        &.is-active {
            border-color: $cyan;
            background-color: $white;
        }
    }
}
