@import '../variables';

.dropdown {
    &.is-flex {
        &.is-full {
            .dropdown-trigger {
                width: 100%;
            }
        }
    }
    &-content {
        border: 1px solid $input-border-color;
    }

    &-trigger {
        > .input,
        > .button {
            padding-right: 2.5rem !important;
        }
    }

    &.is-active {
        > .dropdown-trigger {
            > .input,
            > .button {
                > .multiselect__select {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
