@import '../variables';

label.label {
    font-size: 0.875rem;
    display: flex;
    align-items: center;

    img {
        margin-right: 0.5rem;
    }

    &_req {
        span {
            position: relative;
            padding-right: .75em;

            &:after {
                position: absolute;
                content: '*';
                color: $red;
                font-size: .875rem;
                right: 0;
                top: -.1875rem;
            }
        }
    }
}

input.input {
    height: 3rem;

    &:focus {
        color: $title-color;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $input-placeholder-color;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: $input-placeholder-color;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: $input-placeholder-color;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $input-placeholder-color;
    }
}

.inputbox-val {
    height: 3rem;
    color: $input-placeholder-color;
    &.is-active {
        color: $input-color;
    }
}

.input,
.textarea {
    padding: 0.5rem 1rem;
}

.field {
    &:not(:last-child) {
        margin-bottom: 1.25rem;
    }

    &.has-addons {
        .control {
            .button {
                color: $input-focus-color;
                border-color: $input-border-color;
                background-color: $white;
                box-shadow: $input-shadow;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}

.control {
    &.has-icons-left,
    &.has-icons-right {
        .icon {
            height: 100%;
        }
    }

    &.has-icons-left {
        .input,
        .select select {
            padding-left: 3rem;
        }

        .icon.is-left {
            width: 3em;
        }
    }
}

/* Custom checkbox */
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    span {
        line-height: 1.5rem;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 1.5rem;
            width: 1.5rem;
            background-color: $white;
            border: 1px solid #CEDCF0;
            border-radius: $radius;
            box-shadow: $input-shadow;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Style the checkmark/indicator */
        &:after {
            left: 0;
            top: 0;
            height: 1.5rem;
            width: 1.5rem;
            background-image: url(../../img/check.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ span {
        //background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ span:before {
        background-color: $cyan;
        border: 1px solid $cyan;
    }

    &.is-warning {
        input:checked ~ span:before {
            background-color: $yellow;
            border: 1px solid $yellow;
        }
    }

    &.is-link {
        input:checked ~ span:before {
            background-color: $blue;
            border: 1px solid $blue;
        }
    }

    /* Show the checkmark when checked */
    input:checked ~ span:after {
        display: block;
    }
}


/* Multiselect */

.multiselect {
    &__select {
        height: 100%;
        display: flex;
        align-items: center;

        &:before {
            width: .5rem;
            height: .5rem;
            border-width: 1px;
            border-color: $mostly-dark-blue-2;
            display: block;
            left: 0;
            right: 0;
            top: -.1875rem;
            bottom: 0;
            margin: .625rem .5rem;
            border-left: 0;
            border-top: 0;
            transform: rotate(45deg);
        }
    }

    &__tags {
        box-shadow: $input-shadow;
        border: 1px solid $input-border-color;
        border-radius: $radius;
        font-size: .875rem;
        min-height: 3rem;
        padding: 0.5rem 2.5rem .5rem 1rem;

        &-wrap {

        }
    }

    &__spinner {

    }

    &__placeholder {
        color: $input-placeholder-color;
        margin-bottom: 0;
        padding-top: .25rem;
    }

    &__single,
    &__input {
        color: $input-color;
        font-size: .875rem;
        margin-bottom: 0;
        padding-top: .25rem;
        padding-left: 0;
        line-height: 1.5;
    }

    &__content {
        &-wrapper {

        }
    }

    &__element {

    }

    &__option {
        font-size: .875rem;
    }

    &--active {
        z-index: 5;
        .multiselect__tags {
            border-color: $cyan;
        }
    }
}


/**/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
