@import '../variables';

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.button {
    &_bas-big {
        font-size: .875rem;
        padding: 1.875rem 2.1875rem;
    }
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pt-1 {
    padding-top: 1rem;
}

.section-title {
    margin-bottom: 2rem;
}
