@import '../variables';

$color-fb: #3C5A99;
$color-ok: #ED812B;
.share {
    &-list {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        font-weight: bold;
        height: 3rem;
        font-size: .875rem;
        //margin-right: .875rem;
        flex: 1;
        margin-bottom: .25rem;
        max-width: 100%;
        @media screen and (min-width: $tablet) {
            margin-right: .875rem;
        }
        &:last-child {
            margin-right: 0;
        }

        &__fb {
            background-color: $color-fb;
            border-color: $color-fb;
            color: $white;

            &:hover {
                background-color: lighten($color-fb, 3);
                color: $white;
                border-color: lighten($color-fb, 3);
            }

            &:focus,
            &:active,
            &.is-active {
                background-color: darken($color-fb, 3);
                color: $white;
                border-color: darken($color-fb, 3);
            }
        }

        &__ok {
            background-color: $color-ok;
            border-color: $color-ok;
            color: $white;

            &:hover {
                background-color: lighten($color-ok, 3);
                color: $white;
                border-color: lighten($color-ok, 3);
            }

            &:focus,
            &:active,
            &.is-active {
                background-color: darken($color-ok, 3);
                color: $white;
                border-color: darken($color-ok, 3);
            }
        }
    }
}
