@import '../variables';

.broker-pa {
    margin-bottom: 4rem;

    &__header {
        margin-bottom: 1.875rem;

        .buttons {
            justify-content: flex-end;
        }
    }

    &__id {
        font-size: .75rem;
        color: $text;
    }

    &__offers-nav {
        ul {
            margin-left: 0;
            list-style: none;

            li {
                &.button {
                    padding: 0;

                    a {
                        color: inherit;
                        padding-left: 0.75em;
                        padding-right: 0.75em;
                        line-height: 3rem;
                    }
                }
            }
        }
    }

    .table {
        .icon {
            vertical-align: middle;
            line-height: 1em;

            img,
            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    .filter-table-offers-links {
        margin-bottom: 1rem;

        &__type {
            &:not(:last-child) {
                margin-bottom: .5rem;
            }

            &__title {
                min-width: 6rem;
            }

            ul {
                margin-left: .875rem;
                margin-top: 0;
                list-style: none;
                display: flex;

                li {
                    margin-top: 0;
                    padding: 0 0.625rem;

                    &:not(:last-child) {
                        border-right: 1px solid rgba($button-border-color, 0.5);
                    }

                    &:before {
                        content: none;
                    }

                    span {
                        color: $cyan;
                        text-decoration: underline;
                        cursor: pointer;

                        &:hover {
                            color: darken($cyan, 10);
                        }

                        &.is-active {
                            color: $very-dark-blue-2;
                            font-weight: bold;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    &__details {
        &__thumb {
            width: 100%;
            height: 15.625rem;
            margin: 0 0 1rem 0 !important;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: $radius;
            }
        }

        &__add-offer-desc {
            line-height: 1.375rem;
        }

        &__main-info {
            &__item {
                display: flex;
                color: $very-dark-blue-2;
                margin: 0.1875rem 0;

                > span {
                    flex: 1;

                    &:first-child {
                        max-width: 14rem;
                        padding-right: 1rem;
                    }
                }
            }
        }

        .link-more {
            .icon {
                transform: rotate(-90deg);
            }
        }
    }

    hr {
        background-color: rgba(#CFDAE6, .5);
        height: 1px;
    }
}

.modal-create-offer-link {
    .field-control-offer-link {
        border: 1px solid $input-border-color;
        border-radius: $radius;
        padding: 0.5rem 3rem 0.5rem 0.5rem;

        figure {
            margin: 0 0.5rem 0 0;
            min-width: 2rem;
            min-height: 2rem;
            width: 2rem;
            height: 2rem;

            img {
                border-radius: $radius;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        > span {
            color: $very-dark-blue-2;
            line-height: 1rem;
            padding: .5rem 0;
        }

        .icons {
            position: absolute;
            top: .875rem;

            &.is-right {
                right: 1rem;
            }

            a {
                width: 1rem;
                height: 1rem;
            }

            .icon {
                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }

    .list-subaccount {
        .button {
            &-add,
            &-remove {
                margin-top: .25rem;
            }
        }
    }

    .multiselect {
        line-height: 1.5;
    }
}
