@import '../variables';

.user-setting {
    &__header {
        margin-bottom: 1.5rem;
        figure {
            margin-right: 1rem;
            img {
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                min-width: 5rem;
                min-height: 5rem;
                max-width: 5rem;
                max-height: 5rem;
                object-fit: cover;
                object-position: center;
            }
        }
        h2 {
            margin-bottom: .25rem;
        }
        .button {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .help-desc {
            font-style: italic;
            color: #8B97A9;
            margin-left: 1rem;
        }

    }
}
