@import '../variables';

.card-review {
    cursor: pointer;

    figure {
        height: 11.25rem;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: 0.2s;
        }
    }

    &:hover {
        h3 {
            color: $cyan;
        }

        figure {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.review-modal {
    &__thumb {
        margin: -1.5rem;
        max-height: 10rem;
        @media screen and (min-width: $tablet) {
            max-height: 20rem;
        }
        img {
            width: 100%;
            height: 100%;
            max-height: 10rem;
            object-fit: cover;
            object-position: center;
            @media screen and (min-width: $tablet) {
                max-height: 20rem;
            }
        }
    }

    .swiper-reviews-media-wrap {
        position: relative;

        .swiper {
            &-container {
                max-width: 28rem;

            }

            &-slide {
                max-width: 7rem;
                max-height: 7rem;

                a {
                    margin: .5rem;
                    height: 6rem;
                    display: block;
                    position: relative;
                    transition: $transition;
                    border-radius: $radius;

                    img {
                        border-radius: $radius;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    &:before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background-color: rgba(#0B101A, .7);
                        opacity: 0;
                        transition: $transition;
                        border-radius: $radius;
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        background-image: url(../../img/ic_zoom-in.svg);
                        width: 1.5rem;
                        height: 1.5rem;
                        transition: $transition;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        transform: scale(0);
                    }

                    &:hover {
                        &:before {
                            opacity: 1;
                        }

                        &:after {
                            transform: scale(1);
                        }
                    }
                }
            }

            &-button {
                &-next,
                &-prev {
                    background-image: url(../../img/ic_arrow.svg);
                    width: 1rem;
                    height: 1rem;
                    margin-top: -0.5rem;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &:focus,
                    &:active {
                        border: none;
                        outline: none;
                    }
                }

                &-next {
                    right: 0;
                }

                &-prev {
                    transform: scale(-1, 1);
                    left: 0;
                }

            }
        }
    }
}
