@import '../variables';

.card {
    &-service {
        border-radius: $radius;
        box-shadow: 0px 6px 10px rgba(23, 44, 77, 0.1);
        padding: 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: translateY(-1rem);
        }

        &__body {
            border-bottom: 1px solid rgba(207, 218, 230, 0.5);
        }

        &__icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            margin-bottom: .5rem;
            img {
                width: 100%;
            }
        }

        &__info {
            //margin-top: .5rem;
            flex: 1;
        }

        &__excerpt {
            color: $label-color;
            margin-bottom: .5rem;
            margin-top: 0.125rem;
        }

        &__price {
            color: $very-dark-blue-2;
            font-weight: 900;
            margin-bottom: .875rem;
        }
        &__footer {
            padding-top: .875rem;
            .button {
                //height: 3rem;
                box-sizing: border-box;
                &:first-child {
                    padding-left: 2.25em;
                    padding-right: 2.25em;
                }
            }
        }
        //&__button-more {
        //    border-color: transparent;
        //    background-color: transparent;
        //    text-decoration: underline;
        //    &:hover,
        //    &:focus,
        //    &:active {
        //
        //    }
        //}

    }
}
