@import '../variables';

.service-action-comment {
    background-color: #F5F7FA;

    figure {
        width: 2.5rem;
        height: 2.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }

    &__info {
        padding-top: .125rem;
    }

    &__title {
        margin-right: .25rem;
    }

    &__time {
        padding-left: .5rem;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            width: .3125rem;
            height: .3125rem;
            border-radius: 50%;
            left: 0;
            top: 50%;
            margin-top: -.15625rem;
            background-color: $light-grayish-blue;
        }
    }
}


.service-tr-add-action {
    background-color: #EBF3FB;

    &__document-action {
        color: $cyan;
        cursor: pointer;

        &:not(:first-child) {
            margin-left: 1rem;
        }

        &:first-child {
            padding-right: 1rem;
            border-right: 1px solid #D8E9F9;
        }

        .icon {
            margin-right: .5rem;

            svg {
                width: 1.5rem;
                height: 1.5rem;

                path {
                    fill: $cyan;
                }
            }
        }

        &:hover {
            color: darken($cyan, 10);
        }

    }

    &__document-info {

    }

    &__document-remove {
        cursor: pointer;

        &:hover {
            svg {
                path {
                    fill: $red;
                    opacity: 1;
                }
            }
        }
    }

    td {

    }
}


.vacancy-list-candidates {
    &__item {
        &__thumb {
            width: 14.5rem;
            height: 14.5rem;
            max-width: 100%;

            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &__bas-info {
            padding: 0 3rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__name {
            line-height: normal;
        }

        &__main-info {
            &__item {
                &__title {
                    line-height: 1.125rem;
                }
                &__val {
                    font-size: 1.125rem;
                }
            }
        }
    }
}
