@import '../variables';


.section-title_category-service {
    justify-content: center;
    align-items: center;

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .75rem;
        position: relative;

        svg {
            max-width: 100%;
            max-height: 100%;
            // svg почему-то сваливается вниз, поэтому позиционирую через absolute
            position: absolute;
            top: 0;
            left: 0;
        }

        display: none;
        @media screen and (min-width: $tablet) {
            display: block;
        }
    }
}


.services-index {
    &__section-list-category {
        margin-top: -4rem;
    }

    .section-filter-services {
        background-image: url(../../img/services-bg-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
        justify-content: center;
        //height: 36.25rem;
        padding: 1.5rem 0 3.5rem 0;
        @media screen and (min-width: $tablet) {
            height: 29.25rem;
        }

        @media screen and (min-width: $desktop) {
            height: 36.25rem;
            padding: 0;
        }

        &__title {
            font-size: 1.5rem;
            @media screen and (min-width: $tablet) {
                font-size: 2rem;
            }

            @media screen and (min-width: $desktop) {
                font-size: 2.5rem;
            }
        }
    }

    .filter-services {
        margin: 1rem;
        padding: 1.5rem;
        border-radius: $radius;
        background-color: rgba($white, 0.15);

        @media screen and (min-width: $tablet) {
            //margin: 1rem;
        }

        @media screen and (min-width: $desktop) {
            margin: 1rem -1.5rem;
        }

        .label {
            color: $white;
        }

        .multiselect {
            &__tags {
                height: 3rem;
                white-space: nowrap;
                overflow: hidden;

                &:after {
                    position: absolute;
                    content: "";
                    right: 1px;
                    top: 1px;
                    width: 2.5rem;
                    height: calc(100% - 2px);
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, $white 40%);
                    border-top-right-radius: $radius;
                    border-bottom-right-radius: $radius;
                }
            }

            &__select {
                z-index: 2;
            }
        }
    }
}
